@import "tailwindcss";
@config "../../tailwind.config.ts";

@font-face {
  font-family: "Satoshi";
  src: url("https://vgbujcuwptvheqijyjbe.supabase.co/storage/v1/object/public/hmac-uploads/uploads/4aed2f49-a476-436f-bae8-f31aa18f46fa/1767920861040-60c1c779/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
}

body {
  font-family: "Satoshi", "Inter", sans-serif;
  background-color: #050505;
  color: #ebebeb;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::selection {
  background-color: #ff6b50;
  color: white;
}
